In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"D:\Tableau Files\Practice files course 7\DS1_C7_S4_Project_BirdStrike_Data.xlsx")

In [3]:
df.shape

(25558, 26)

In [4]:
# printing basic info and null records, duplicates about dataset

print(df.info())
print("-----------")
print("Missing values")
print(df.isnull().sum())
print("-----------")
print("Duplicates:", df.duplicated().sum())
print("-----------")
print(df.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  datetime64[ns]
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  int64
 23  Feet above ground                        25429 non-null  float64
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(4), object(18)
memory usage: 4.7+ MB
None
-----------
Missing values
Record ID                                      0
Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64
-----------
Duplicates: 0
-----------
Record ID                                  25558
Aircraft: Type                                 1
Airport: Name                               1109
Altitude bin                                   2
Aircraft: Make/Model                         351
Wildlife: Number struck                        4
Wildlife: Number Struck Actual               106
Effect: Impact to flight                       4
FlightDate                                  4225
Effect: Indicated Damage                       2
Aircraft: Number of engines?                   5
Aircraft: Airline/Operator                   292
Origin State                                  60
When: Phase of flight                          7
Conditions: Precipitation                      7
Remains of wildlife collected?                 2
Remains of wildlife sent to Smithsonian        2
Remarks                                    18186
Wildlife: Size                                 3
Conditions: Sky                                3
Wildlife: Species                            348
Pilot warned of birds or wildlife?             2
Cost: Total $                                803
Feet above ground                            257
Number of people injured                       4
Is Aircraft Large?                             2
dtype: int64

In [5]:
for column in df.columns:
    print(f"Column: {column}")
    print(df[column].value_counts())
    print("\n")

Column: Record ID
Record ID
202152    1
254643    1
258806    1
257552    1
257811    1
         ..
218134    1
215563    1
220925    1
218412    1
319593    1
Name: count, Length: 25558, dtype: int64


Column: Aircraft: Type
Aircraft: Type
Airplane    25429
Name: count, dtype: int64


Column: Airport: Name
Airport: Name
DALLAS/FORT WORTH INTL ARPT    803
SACRAMENTO INTL                676
SALT LAKE CITY INTL            479
DENVER INTL AIRPORT            476
KANSAS CITY INTL               452
                              ...
ORCAS ISLAND ARPT                1
T B LETTSOME INTL                1
DYERSBURG REGIONAL ARPT          1
MCCORD FIELD ARPT                1
PRINCESS JULIANA                 1
Name: count, Length: 1109, dtype: int64


Column: Altitude bin
Altitude bin
< 1000 ft    20556
> 1000 ft     4873
Name: count, dtype: int64


Column: Aircraft: Make/Model
Aircraft: Make/Model
B-737-700        2488
B-737-300        2309
CL-RJ100/200     1951
A-320            1193
A-319            1000
                 ...
E-8C                1
F-15C               1
T-1A                1
SIKORSKY S-70       1
DA-40               1
Name: count, Length: 351, dtype: int64


Column: Wildlife: Number struck
Wildlife: Number struck
1            20790
2 to 10       4319
11 to 100      312
Over 100         8
Name: count, dtype: int64


Column: Wildlife: Number Struck Actual
Wildlife: Number Struck Actual
1      20915
5        536
7        496
9        487
4        484
       ...
55         1
12         1
100        1
424        1
859        1
Name: count, Length: 106, dtype: int64


Column: Effect: Impact to flight
Effect: Impact to flight
Precautionary Landing    1121
Aborted Take-off          479
Other                     390
Engine Shut Down           88
Name: count, dtype: int64


Column: FlightDate
FlightDate
2010-10-28    28
2009-11-01    27
2010-08-26    26
2009-09-24    26
2010-11-01    26
              ..
2008-02-04     1
2008-02-01     1
2002-01-12     1
2008-01-23     1
2000-11-23     1
Name: count, Length: 4225, dtype: int64


Column: Effect: Indicated Damage
Effect: Indicated Damage
No damage        23081
Caused damage     2477
Name: count, dtype: int64


Column: Aircraft: Number of engines?
Aircraft: Number of engines?
2    23025
1     1313
3      564
4      388
C        1
Name: count, dtype: int64


Column: Aircraft: Airline/Operator
Aircraft: Airline/Operator
SOUTHWEST AIRLINES            4628
BUSINESS                      3074
AMERICAN AIRLINES             2058
DELTA AIR LINES               1349
AMERICAN EAGLE AIRLINES        932
                              ...
LYNDEN AIR CARGO                 1
BIMINI ISLAND AIR                1
HAGELAND AVIATION SERVICES       1
CONSORCIO AVIACSA                1
MIDWEST AVIATION DIVISION        1
Name: count, Length: 292, dtype: int64


Column: Origin State
Origin State
California                   2520
Texas                        2453
Florida                      2055
New York                     1319
Illinois                     1008
Pennsylvania                  986
Missouri                      960
Kentucky                      812
Ohio                          778
Hawaii                        729
Michigan                      678
Colorado                      664
Tennessee                     655
North Carolina                652
New Jersey                    600
Georgia                       510
Utah                          496
Maryland                      433
DC                            432
Louisiana                     397
Oregon                        391
Nebraska                      368
Arizona                       360
Massachusetts                 355
Minnesota                     352
Indiana                       346
Washington                    330
Alabama                       301
Virginia                      300
Wisconsin                     286
Connecticut                   246
Iowa                          228
Oklahoma                      212
Alaska                        186
Nevada                        167
South Carolina                166
Rhode Island                  125
New Hampshire                 120
Arkansas                      118
Mississippi                   117
Kansas                        100
New Mexico                     94
North Dakota                   87
West Virginia                  83
Prince Edward Island           83
Puerto Rico                    70
Idaho                          68
South Dakota                   60
Montana                        43
Maine                          41
Vermont                        36
Wyoming                        34
Virgin Islands                 31
Delaware                       27
Ontario                        14
British Columbia               12
Quebec                          9
Alberta                         3
Newfoundland and Labrador       2
Saskatchewan                    1
Name: count, dtype: int64


Column: When: Phase of flight
When: Phase of flight
Approach        10382
Landing Roll     5047
Take-off run     4711
Climb            4429
Descent           776
Taxi               74
Parked             10
Name: count, dtype: int64


Column: Conditions: Precipitation
Conditions: Precipitation
Rain               1353
Fog                 475
Snow                 89
Fog, Rain            85
Rain, Snow            6
Fog, Snow             4
Fog, Rain, Snow       3
Name: count, dtype: int64


Column: Remains of wildlife collected?
Remains of wildlife collected?
False    18732
True      6826
Name: count, dtype: int64


Column: Remains of wildlife sent to Smithsonian
Remains of wildlife sent to Smithsonian
False    23601
True      1957
Name: count, dtype: int64


Column: Remarks
Remarks
NO DMG.                                                                                                                                    740
NO DMG                                                                                                                                     396
ATIS WARNING.                                                                                                                              165
ATIS WARNING                                                                                                                               136
# STRUCK NOT REPTD, ASSUME 1, SAME AS # SEEN.                                                                                               72
                                                                                                                                          ...
CAUSED A MX FLY DELAY OF 45 MINS FOR INSPN. NO DMG.                                                                                          1
PILOT REPTD STRIKE TO TWR BUT COMPANY WAS UNABLE TO PROVIDE ANY SPECIFIC INFO.                                                               1
A/C TAXIED BACK TO RAMP FOR INSPN. NO DMG. FLT CONTD. NO CARCASS FOUND                                                                       1
ATIS WARNING. 6-MILE FINAL                                                                                                                   1
HIT CENTER OF RADOME, CAVING IN ABOUT 12". RADOME WAS REPLACED. CARCASS FOUND IN SAFETY ARA ON RT SIDE OF RWY 22 AT INTXN OF RWY 18/36.      1
Name: count, Length: 18186, dtype: int64


Column: Wildlife: Size
Wildlife: Size
Small     17412
Medium     5937
Large      2080
Name: count, dtype: int64


Column: Conditions: Sky
Conditions: Sky
No Cloud      12642
Some Cloud     8706
Overcast       4210
Name: count, dtype: int64


Column: Wildlife: Species
Wildlife: Species
Unknown bird - small     10505
Unknown bird - medium     4318
Mourning dove              898
European starling          885
Unknown bird - large       797
                         ...
Cape May warbler             1
Western bluebird             1
Common ground-dove           1
Yellow-billed magpie         1
Pine grosbeak                1
Name: count, Length: 348, dtype: int64


Column: Pilot warned of birds or wildlife?
Pilot warned of birds or wildlife?
N    14567
Y    10862
Name: count, dtype: int64


Column: Cost: Total $
Cost: Total $
0         24330
53           17
200          17
205          11
308          10
          ...
367           1
33842         1
559688        1
573           1
175000        1
Name: count, Length: 803, dtype: int64


Column: Feet above ground
Feet above ground
0.0       9843
100.0     1357
50.0      1259
200.0     1001
10.0       893
          ...
3550.0       1
4260.0       1
820.0        1
74.0         1
142.0        1
Name: count, Length: 257, dtype: int64


Column: Number of people injured
Number of people injured
0    25540
1       13
2        4
6        1
Name: count, dtype: int64


Column: Is Aircraft Large?
Is Aircraft Large?
No     17027
Yes     8402
Name: count, dtype: int64

In [6]:
# Replacing None
df['Effect: Impact to flight'] = df['Effect: Impact to flight'].fillna('No Effect')
df['Conditions: Precipitation'] = df['Conditions: Precipitation'].fillna('No Precipitation')

# Replacing 'Y': 'Yes', 'N': 'No'
df['Pilot warned of birds or wildlife?'] = df['Pilot warned of birds or wildlife?'].replace({'Y': 'Yes', 'N': 'No'})

# Fill categorical missing values with mode
categorical_cols = ["Aircraft: Type", "Airport: Name", "Altitude bin", 
                    "Aircraft: Airline/Operator", "When: Phase of flight", "Is Aircraft Large?"]
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])  # Use assignment instead of inplace

# Fill with 'Unknown' for certain categorical columns
unknown_fill = ["Wildlife: Number struck", "Wildlife: Size", "Pilot warned of birds or wildlife?", "Origin State"]
df[unknown_fill] = df[unknown_fill].fillna("Unknown")  # Already correct

# Fill numerical missing values
df["Aircraft: Number of engines?"] = df["Aircraft: Number of engines?"].fillna(df["Aircraft: Number of engines?"].mode()[0])  # Use assignment
df["Feet above ground"] = df["Feet above ground"].fillna(df["Feet above ground"].median())  # Use assignment
df["FlightDate"] = df["FlightDate"].ffill()

# Fill 'Remarks' column with "No remarks"
df["Remarks"] = df["Remarks"].fillna("No remarks")  # Use assignment

### **Data Preprocessing & Observations** (For PPT)

#### **Data Cleaning**

*   Replaced None with No effect in columns: `"Effect: Impact to flight"`, `"Conditions: Precipitation"`
*   Filled categorical values using **mode** or **"Unknown"**
*   Filled numerical values using **median/mode**
*   `"Remarks"` → Replaced missing with **"No remarks"**
*   **Forward-filled missing `FlightDate`** → Preserved chronological consistency.
*   No **duplicates**; data is **consistent & reliable**

#### **Key Observations**

*   **25,558 wildlife strikes** recorded
*   `"Wildlife: Species"` complete → analyze species impact
*   `"Phase of flight"` helps identify **high-risk moments**
*   `"Cost: Total $"` enables **financial impact analysis**
*   `"Number of people injured"` aids in **safety assessment**

In [8]:
# Mapping dictionary for states/provinces to countries
state_to_country = {
    # U.S. States
    'California': 'United States',
    'Texas': 'United States',
    'Florida': 'United States',
    'New York': 'United States',
    'Illinois': 'United States',
    'Pennsylvania': 'United States',
    'Missouri': 'United States',
    'Kentucky': 'United States',
    'Ohio': 'United States',
    'Hawaii': 'United States',
    'Michigan': 'United States',
    'Colorado': 'United States',
    'Tennessee': 'United States',
    'North Carolina': 'United States',
    'New Jersey': 'United States',
    'Georgia': 'United States',
    'Utah': 'United States',
    'Maryland': 'United States',
    'DC': 'United States',
    'Louisiana': 'United States',
    'Oregon': 'United States',
    'Nebraska': 'United States',
    'Arizona': 'United States',
    'Massachusetts': 'United States',
    'Minnesota': 'United States',
    'Indiana': 'United States',
    'Washington': 'United States',
    'Alabama': 'United States',
    'Virginia': 'United States',
    'Wisconsin': 'United States',
    'Connecticut': 'United States',
    'Iowa': 'United States',
    'Oklahoma': 'United States',
    'Alaska': 'United States',
    'Nevada': 'United States',
    'South Carolina': 'United States',
    'Rhode Island': 'United States',
    'New Hampshire': 'United States',
    'Arkansas': 'United States',
    'Mississippi': 'United States',
    'Kansas': 'United States',
    'New Mexico': 'United States',
    'North Dakota': 'United States',
    'West Virginia': 'United States',
    'Puerto Rico': 'United States',
    'Idaho': 'United States',
    'South Dakota': 'United States',
    'Montana': 'United States',
    'Maine': 'United States',
    'Vermont': 'United States',
    'Wyoming': 'United States',
    'Virgin Islands': 'United States',
    'Delaware': 'United States',
    'Prince Edward Island': 'Canada',  # Canadian Provinces
    'Ontario': 'Canada',
    'British Columbia': 'Canada',
    'Quebec': 'Canada',
    'Alberta': 'Canada',
    'Newfoundland and Labrador': 'Canada',
    'Saskatchewan': 'Canada'}

# Add the 'Country' column using the mapping dictionary
df['Country'] = df['Origin State'].map(state_to_country)

# Fill missing values (if any) with 'Unknown'
df['Country'] = df['Country'].fillna('Unknown')

In [9]:
# Save cleaned data
df.to_excel(r"D:\Tableau Files\Practice files course 7\c7 project\Bird_Strike_Data.xlsx", index=False)

print("Missing values handled successfully!")

print("Missing values")
print(df.isnull().sum())

Missing values handled successfully!
Missing values
Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Remarks                                    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
Country                                    0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25558 non-null  object
 2   Airport: Name                            25558 non-null  object
 3   Altitude bin                             25558 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25558 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 25558 non-null  object
 8   FlightDate                               25558 non-null  datetime64[ns]
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25558 non-null  object
 11  Aircraft: Airline/Operator               25558 non-null  object
 12  Origin State                             25558 non-null  object
 13  When: Phase of flight                    25558 non-null  object
 14  Conditions: Precipitation                25558 non-null  object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  25558 non-null  object
 18  Wildlife: Size                           25558 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25558 non-null  object
 22  Cost: Total $                            25558 non-null  int64
 23  Feet above ground                        25558 non-null  float64
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25558 non-null  object
 26  Country                                  25558 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(4), object(19)
memory usage: 4.9+ MB